@import "compass";

.hide{
    display: none;
}
.inline-block {
    @include horizontal-list-item()
}
.x2{
    font-size: 200% !important;
}
.pure-button {
    background-color: #F23C55;
    border-right-color: #F01E38;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: -.05em;
    @include border-radius(5px);
    @include box-shadow(2px 2px 2px #F89CA4);
    font-size: 1.6em;
    padding: 0.68em 3.8em ; 
    &.button-xsmall {
    font-size: 70%;
    }

    &.button-small {
        font-size: 85%;
    }

    &.button-large {
        font-size: 110%;
    }

    &.button-xlarge {
        font-size: 125%;
    }
    &.btn-block {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        font-size: 1.6em;
        padding: .75em;
    }
    &:hover{
        background-color: #E4073F;
        @include transition(background-color 1000ms ease);
    }
}
.arrow-button {
position: relative;
background: #f23c55;
height: 46px;
padding: 0.55em 2em 0 1em;
display: inline-block;
border-radius: 0 2em 2em 0;
font-size: 1.8em;
color: #FFF;
text-transform: uppercase;
text-align: center;
font-weight: 400;
margin-left: 2em;
}
.arrow-button:after {
right: 100%;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-right-color: #f23c55;
border-width: 23px;
margin-top: -23px;
}
.pull-right{
    float: right !important;
}

.pull-left{
    float: left !important;
}

.link-1{
    color: #F23A53;
}
.pure-img-responsive {
max-width: 100%;
height: auto;
}

.pull-left{
    float: left;
}
.pullright{
    float:right;
}


.mm-ismenu {
background: #FFFBEA;
color: #666;
}
.mm-menu .fa {
    display: none;
}
.mm-menu .mm-list > li:after {
border-color: #F7F2DF;
}

.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
border-color: #F01E38;
}
.mm-menu .mm-list > li > a.mm-subopen:before {
border-color: #F7F2DF;
}

.mm-menu .mm-list > li > a.mm-subclose {
background: #F7F2DF;
color: #f23a53;
}





.file-upload-box {
  position: relative;
  padding: 0;
  margin-bottom: .5em;
}
