@import 'compass';
$fa-font-path: '../bower_components/fontawesome/fonts';
@import "../bower_components/fontawesome/scss/font-awesome.scss";
@mixin img-responsive {
    *width: auto;
    display: block;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*10}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
html{
    font-size: 62.5%;
    font-weight: 300;
}
body {
    background-color: #FFFBEA;
    font-family: 'Open Sans', sans-serif;
    
    color: #666666;
 }
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans', sans-serif;
}
html{
.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea{
            padding: .95em .8em;
            line-height: 1.5;
            @include border-radius(10px);
        }
    .pure-form label{
        padding-left: 2px;
    }
}
h1,h2,h3,h4,h5,h6{
margin: 0;
padding: 0;
font-weight: 300;
}

.pure-form{
    fieldset,legend{
        border: 0;
        margin: 0;
        padding: 0;
    }
}
a{
color: #666666;
}
p{
margin: 0;
padding: 0
}
body {
    .pure-form{
    input,textarea{
        @include box-shadow(inset 2px 3px 3px #ddd !important);
    }
        }
}

.modal {
    display: none;
    border: 2px solid #CCCCCC;
    background: none #FFF;
    max-width: 73em;
    width: 90%;
    padding: 5em 2%;
    margin: 5% auto;
    @include box-shadow(4px 4px 5px #444);
    .close-reveal-modal {
        font-size: 38px;
        text-decoration: none;
        position: absolute;
        cursor: pointer;
        padding: 0em 1em;
        top: 0;
        right: 0;
        &.dark{
            color: #666;
        }
    }
    .title{
        font-size: 3em;
        color: #664A19;
        margin-bottom: 1.5em;
        max-width: 75%;
    }
    .headline{
        font-size: 2em;
        margin-bottom: 2.3em;
    }
    .close-modal{
        font-size: 1.6em;
        font-weight: 400;
    }

}
    .orsep{
        margin: 0 .8em;
        font-size: 1.6em;
    }

.ads-txt, .result-txt, .txt{
    font-size: 1.5em;
    padding: 0 1.33em;
    display: block;
}



.header {
    @include pie-clearfix();

}
.logo {
    float: left;
    margin: 0;
    padding-top: 3em;
}
.main-nav {
    float: left;
    padding-left: 3.125em; 
    .main-link {
        display: inline-block;
    }
    
    .main-nav-item {
        display: inline-block;
        position: relative;
        &:first-child {
            margin-left: 0;
        }
    }
    a {
        
        font-size: 1.6em;
        line-height: 1.18em;
        color: #666666;
        display: block;
        padding: 3.31em 1.25em 2em;
        &:hover{
            background-color: #5FAFA7;
            color: #FFF;
            -webkit-transition: all 200ms linear;
            -moz-transition: all 200ms linear;
            -o-transition: all 200ms linear;
            -ms-transition: all 200ms linear;
            transition: all 200ms linear;
        }
    }

    .submenu-item{
        &:hover >a{
            background-color: #5FAFA7;
            color: #FFF
        }
        .fa{
            color: #F23A53;
            padding-left: .5em;
        }
        &:hover {
            .submenu{
                display: block;
            }
        }
        .submenu {
            display: none;
            background-color: #5FAFA7;
            width: 959px;
            left: -13.3em;
            padding: 40px 55px;
            position: absolute;
            z-index: 100;
            li {
                width: 215px;
                display: inline-block;
            }
            a{
                font-size: 1.4em;
                line-height: 1.75em;
                padding: 0 0;
            }
            .category{
                font-weight: 400;
                color: #721246;
                
            }
            li ul{
                padding-bottom: 1.5em;
                li {
                    width: 100%;
                }
            }
            li ul li a {
                color: #FFF;
            }
        }
    }
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.img-responsive {
    max-width: 100%;
    width: auto;
    /* ie8*/
    height: auto;
}
.container {
    max-width: 120em;
    margin: 0 auto;
    position: relative;
}
.user-area {
    margin-top: 3.5em;
    width: 24.3em;
    float: right;
    position:relative;
    .login-button {
        font-size: 1.6em;
        line-height: 0.842em;
        padding: 0.5625em 2.68em;
        @include border-radius(.2em);
    }
    .singUp-button {
        font-size: 1.1em;
        line-height: 0.833em;
    }
    .user-area-txt {
        padding: 0.727em;
        display: inline-block;
    }
    fieldset label{
        &:first-child{
            padding-top: 0;
        }
        padding: 1.28em 0 .75em;
    }
    .sep{
        border-bottom: 2px dotted #F88F9D;
        height: 1px;
        text-align: center;
        margin: 4em 0 3em;
        .txt{
            font-size: 2.2em;
            background-color: #FFF;
            position: relative;
            top: -15px;
            display: block;
            margin: 0 auto;
            width: 60px;
        }
    }
   
    .box-login{
        display: none;
        @include border-radius(3px);
        background-color: #FFF;
        border: 1px solid #ccc;
        padding: 2em 4.8em 5em;
        width: 400px;
        position: absolute;
        right: 88px;
        z-index: 100;
        margin-top: .2em;
        label{
            font-size: 1.4em;
            line-height: 1.2em;
            color: #5B5A52
        }
        .bt-entrar{
            width: 100%;
            font-size: 1.6em;
            line-height: 1.19;
            padding: 1em;
            margin-top: 1.68em;
        }
        .btn-recuperar-senha{
            float: right;
            color: #5B5A52;
            font-size: 1.3em;
            text-decoration: underline;
        }


    }
}
.login-externo{
    text-align: center;
    .btn-login-facebook, .btn-login-googleplus{
        width: 96px;
        height: 34px;
        background: url("../images/sprite_social_media.png") scroll no-repeat 0 0 transparent;
        display: inline-block;
        text-indent: -999999px;
        position: relative;
        margin: 0 1em;
    }
    .btn-login-googleplus{
        background-position: -106px 0;
    }
}
.sep {
    height: 40px;
    border: 0 none;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: -2em;
    img {
        @include img-responsive();
        margin: 0 auto;
    }
}

.top-bar {
    background-color: #F7F2DF;
    height: 37px;
    
    a {
        font-size: 1.3em;
        color: #666666;
        text-transform: uppercase
    }
    .nav-menu-button {
        display: inline-block;
        top: 5px;
        left: 5px;
        position: absolute;
        text-align: center;
        color: #F23C55;
        }
    .top-tab {
        border-left: 1px solid #FDF9EF;
        padding: .461em .615em 0;
        display: inline-block;
        overflow: hidden;
        height: 37px;
        vertical-align: middle;
        line-height: 1.5;
       
    }
    .provider-area {
        padding-top: 9px;
        text-transform: none;
        color: #F23A53;
        .fa{
            margin-right: 0.25em;
        }
    }
}
.social-media {
    li {
        display: inline-block;
    }
    .icon {
        margin: 0;
    }
}
.destaque-home {
    max-width: 1680px;
    max-height: 698px;
    margin: 0 auto;
    position: relative;
    .container {
        width: 59.14%;
        text-align: right;
        margin: 9% 0 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    img {} .text {
        font-size: 5.6em;
        line-height: 1.25em;
        text-align: right;
        @include text-shadow(2px 2px 2px #000);
        color: #FFF;
        margin: 0 0 5%;
    }
    .pure-button {
        font-size: 4.5em;
        padding: .24em .45em;
    }
    &:after {
        content: "";
        display: block;
        width: 80%;
        position: absolute;
        bottom: -24px;
        left: 50%;
        background: url("../images/hr_heart.png") scroll no-repeat center transparent;
        height: 41px;
        margin-left: -41%;
    }
}
.icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url('../images/sprite.png') scroll no-repeat 0 0 transparent;
    position: relative;
    text-indent: -99999px;
    margin-right: 10px;
    vertical-align: middle;
    &.icon-search {
        width: 24px;
        height: 24px;
        background-position: 0 0;
    }
    &.icon-map-marker {
        background-position: -24px 0;
        height: 25px;
        width: 24px;
    }
    &.icon-facebook {
        background-position: -49px 0;
    }
    &.icon-twitter {
        background-position: -76px 0;
    }
    &.icon-googleplus {
        background-position: -103px 0;
    }
}

.input-group{
    padding: .5em 1em;
}
.pure-form{
    input,textarea,select{
        font-size: 1.4em;
        line-height: 1.2
    }
    textarea{
        padding: 1em;
        height: 125px;
    }
    label{
        font-size: 1.4em;
        line-height: 1.21;
        color: #333333;
        text-transform: uppercase;
    }
}
.submit-button{
    font-size: 1.6em;
    line-height: 1.18;
    padding: .93em 3.75em;
}
.tab-content{
    margin: 0 auto;
    max-width: 85%;
    padding: 0 0 8em;
    &.full{
        width: 100%;
        max-width: 96em;
        
    }
    .tab-title{
        font-size: 4.5em;
        padding: 1.77em 0 .88em;
        line-height: 1.15;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
    }
    p{
        font-size: 1.4em;
        line-height: 1.21;
        padding: .8em 0;
    }
}
.tab-orcamento-pratico {
    background-color: #5FAFA7;
    position: relative;
    .tab-title{
        color: #FFF;
    }
    p{
        color: #FFF;
        padding-bottom: 3.15em;
        text-align: center;
    }
    fieldset{
        border-right: 2px dotted #B5DBD7;
    }
    &:after{    
        content: "";
        display: block;
        width: 80%;
        position: absolute;
        bottom: -24px;
        left: 50%;
        background: url("../images/hr_heart_white.png") scroll no-repeat center transparent;
        height: 41px;
        margin-left: -41%;
    }
}

.tab-como-funciona{
    background: url("../images/bg_floral.jpg") scroll repeat-x center top transparent;
    text-align: center;

    .tab-title{
        color: #664A19;
    }
    container{
        width: 72.4em;
    }
    .box-content{
        margin: 6em .5em 0;
    }

}

.tab-noticias{
    color: #721246;
    .container{
        max-width: 99.7em;
    }
    .tab-title{
        position: relative;
        background-size: cover;
        max-width: 21.89em;
        padding: 0 2.3em 0.488em;
        margin: 1.77em 0 0;
        .bg {display:block; position:absolute; z-index:0;top:0;left:0;width:100%;}
    }
    .title{
        font-size: 2.2em;
        line-height: 1.199em;
        padding: 1em 1.09em;
        font-weight: 300;
        text-align: left;
    }
    p{
        font-size: 1.2em;
        line-height: 1.5;
        text-align: left;
        padding: 0 2.33em 0.5em;
    }
    .conteudo{
        background-color: #FFF;
        text-align: left;
    }
    .conteudo{text-align: center;}
    .lista-destaque-noticias{
        margin-top: 3.3em;
        max-width: 96em;
        &:first-child{
            margin-top:0
        }
        .conteudo{
            margin: 0 1em;
            
            img{
                width:100%;
            }
        }


    }
        .destaque{
            .conteudo{
                max-width: 100%;
                width:auto;
                margin: 0;
                img{
                }
            }
            .title{
                font-size: 3em;
                line-height: 1.2;
                padding-top: 0;
            }
            p{
                padding: 0 2.272em;
            }
            .destaque-img{
                text-align: left;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -15px;
                    width: 0px;
                    height: 0px;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-left: 30px solid #FFF;
                }
            }
        }
}

.tab-fornecedores-em-destaque{
    .tab-title{
        color: #721246;
    }
    .container{
        max-width: 100em;
    }

    .bg1{
        background-color: #44A694;
    }
    .bg2{
        background-color: #F27294;
    }
    img{
        width: 40.5em;
        height: 26.9em;
        float: left;
    }
    .conteudo{
        overflow: hidden;
        padding: 0 4em 1em;
    }
    li{
        margin-top: 4.2em;
        @include pie-clearfix();
        &:first-child{
            margin-top: 0;
        }
    }
    .title{
        font-size: 4.5em;
        line-height: 1.2;
        color: #FFF;
        padding: 1em 0 .33em;
        font-weight: 400;
    }
    p{
        font-size: 1.9em;
        line-height: 1.2;
        padding: 0;
        color: #FFF;
        text-align: left;
        
    }
}


.footer{
    background-color: #5C5B52;
    color: #FFF;
    padding: 4em 0 13.3em;
    .title{
        font-size: 1.6em;
        line-height: 1.19;
        color: #FFF;
        padding:  2.18em 0 1.25em
            
    }
    .links{
        &.auxiliares{
            a{
                line-height: 2.2
            }
        }
        &.outros-portais{
            line-height: 1.2
        }
        a{
            color: #5FC591;
            font-size: 1.3em;
            
            
        }
    }
    .vcard{
        .tel{
            color: #FFF;
            font-size: 1.4em;
            line-height: 1.6;
        }
    }
    .social-media{
        padding: 3em 0;
        .fa{
            color: #FFF;
            border-radius: .2em;
            margin: 0 .5em 0 0;
            text-align: center;
            width: 1.62em;
        }
    }
    legend{
        border: 0 none;
        &.title{
            padding-top: 0;
        }
    }
    textarea{
        max-height: 9.5em;
    }
    p{
        font-size: 1.2em;
        line-height: 1.439;
    }
    .input-group{
        padding: 1.35em 0;
    }
    .pure-button{
        font-size: 1.8em;
        line-height: 1.199em;
        padding: 0.666em 4.44em;
        
    }
/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
    max-width: 29.4em;
    height:43.5em;
}
    .facebook-box{
         margin: 0 2em 0 0 ;
        iframe{
            background-color: #FFF;
        }    
    }
}



#modal-categoryList{
    background-color: #5FAFA7;
    font-size: 1.4em;
    padding: 2.5em;
    width: 960px;
    input{
        margin-right: .5em;
    }
    fieldset{
        border: 0 none;
        padding: 0;
    }
    .category-group{
        padding-top: 2.428em;
        li{
            line-height: 1.2;
            padding: .5em .5em .5em 0;
            color: #FFF;
            &:first-child{
                padding-top: 0;
            }    
        }

        .main-category{
            text-transform: uppercase;
            color: #721246;
            font-weight: bold;
        }
    }

    .check-all{
        text-transform: uppercase;
        color: #721246;
        font-weight: bold;
        padding-bottom: 1.2em;
        border-bottom: 1px solid #FFF;
        display: block;
        width: 100%;
    }
    .btn-confirmar{
        font-size: 1.571em;
        line-height: 1.119;
        display: block;
        margin: 0 auto;
        padding: 1em 2.1em;
    }

}

.modal-success-orcamento-pratico{
    text-align: left;
    .title{
        font-size: 3em;
        line-height: 1.16;
        color: #664A19;
        padding-bottom: 1.93em;
    }
    p.text{
        font-size: 2em;
        color: #666666;
        text-align: left;
        padding: 0 0 2em;
    }
    button{
        font-size: 2.5em;
        padding: .2em 3.33em;
    }
}


.modal-site-search {
    background-color:#FFF;
    .pure-form{
        input{
            padding: .88em;
        }
    }
    .btn-site-search{
        font-size: 1.38em;
        padding: .95em 2.7em;
        font-weight: 400;
        top: -.088em;
        position: relative;
    }
    .site-search-form{
        padding-top: 1em;
    }
    .close-reveal-modal{
        color: #555555;
    }
    
    .serach-result{
        .searching-for{
        }
        
    }
    .result-search-box{
        margin-top: 5.5em;
        color: #444444;
        .result-info{
            font-size: 2.5em;
            line-height: 1.2;
            padding-bottom: 2.56em;
        }
    }
    .result-list{
        .result-item{
            border-top: 1px solid #CCC;
            padding: 1.2em .5em 1.2em 0;
            @include pie-clearfix();
            .result-box-content{
                color: #535353;
                overflow: hidden;
            }
            .result-title{
                font-size: 2.5em;
                line-height: 1.2;
                font-weight: 400;
            }
            .result-text{
                font-size: 1.3em;
                
                padding-top: 1.2em;
            }
            .result-image{
                display: block;
                float: left;
                margin-right: 3%;
                @include img-responsive();
                
            }
            .tag-list{
                margin-top: 2em;
                li{
                    @include inline-block();
                }               
                .tag{
                    background-color: #525252;
                    @include border-radius(.4em);
                    padding: .1em 1.5em;
                    margin: 0 1em;
                    font-size: 1.4em;
                    color:  #FFF;
                    text-transform: none;
                    @include inline-block();
                }
                .date{
                    font-size: 1.3em;
                }
                
            }
        }
        
    }
    .pagination{
        text-align: center; 
        margin: 4em 0 0;
    }
}





.box-pagination{
text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 2em 0;
    border-radius: 4px;
    font-weight: 600;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,.pagination>li>span {
    position: relative;
    float: left;
    padding: .6em .88em;
    line-height: 1.42857143;
    text-decoration: none;
    color: #FFF;
    background-color: #5C5B52;
    border: 1px solid #ADADA8;
    margin-left: .5em;
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
    color: #FFF;
    background-color: #918F84;
    border-color: #ADADA8;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #918F84;
    border-color: #ADADA8;
    cursor: default;
}

.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
    border-color: #ddd;
    background-color: #5C5B52;
    cursor: not-allowed;
}




.header-content{
    background-color: #5FAFA7;
    &.noiva{
        background-color: #DB5E63;
        .breadcrumb-list{
            background-color: #D74D54;
        }
        .content-title{
            font-size: 3em;
            font-weight: 400;
            display: inline-block;
            width: auto;
            text-transform: capitalize;
        }
        .profile-photo{
            display: inline-block;
            max-width: 13.5em;
            margin: .5em 2.5em;
            vertical-align: middle;
            @include border-radius(5px);
        }
        .secondary-nav{
            background-color: #5FAFA7;
            border-bottom: 1.2em solid #50A098;
        }
        .tab-list .tab-item.active{
            background-color: #50A098;
        }
    }
    .breadcrumb-list{
        background-color: #51A299;
    }
    .breadcrumb{
        font-size: 1.3em;
        padding: .2em;
        li,a{
            color:#FFF;
        }
        > li {
            display:inline-block;
        }
        > li + li:before {
            content:" > ";
            padding: 0 .5em 0 .3em;
            color:#FFF;
        }
        .active {
            font-weight: bold;
            cursor: default;
        }
    }
    
    .content-title{
        font-size: 4.5em;
        line-height: 1.169;
        color: #FFFAEA;
        padding: 1em 0 1.5em;
        text-align: center;
        text-transform: uppercase;
       margin: 0 auto;
        @include rem-fallback(max-width, 96);
    }
    .content-headline{
        font-size: 1.9em;
        color: #FFFAEA;
        padding-top: 2em;
        text-align: center;
        font-weight: 400;
        margin: 0 auto;
        @include rem-fallback(max-width, 96);
    }
}

.main-content{
        background: url("../images/bg_floral2.jpg") scroll repeat center top transparent;
    .container{
        background-color:#FFFBEA;
        padding-bottom: 10em;
    }
}
.new-user-box{
    .new-user-content{
        padding: 2em 6em 2em;
        width: 100%;
        &.bg{
            border-right: 1px solid #ccc;
            position: relative;
            &:after {
                content: "ou";
                background-color: #F7F2DF;
                padding: 1em;
                border-radius: 3em;
                font-size: 2em;
                text-align: center;
                right: 0;
                position: absolute;
                top: 50%;
                margin-top: -2em;
                right: -1.5em;
            }
        }
    }
    .new-user-form{

        label{
            color: #666666;
            font-size: 1.4em;
        }
        input{
            margin-bottom: 1.428em;
        }
        .agreements{
            font-size: 1.3em;
            font-weight: 400;
            text-transform: none;
        }
    }
    .title{
            border: 0 none;
            font-size: 2.8em;
            padding: .3em 0;
            margin-bottom: .3em;
            text-align: center;
            color: #666666
    }
    .btn-login-facebook, .btn-login-googleplus{
        width: 325px;
        height: 57px;
        background: url("../images/sprite_social_media.png") scroll no-repeat 0 -41px transparent;
        display: inline-block;
        text-indent: -999999px;
        position: relative;
        margin: 4em 1em 0;
    }
    .btn-login-googleplus{
        background-position: 0 -102px;
    }
}





.new-provider-box{
    .new-provider-content{
        padding: 2em 4em 2em;
        width: 100%;
        &.bg{
        border-left: 1px solid #ccc
        }
    }
    .new-user-form{

        label{
            color: #666666;
            font-size: 1.4em;
        }
        input{
            margin-bottom: 1.428em;
        }
        .agreements{
            font-size: 1.3em;
            font-weight: 400;
            text-transform: none;
        }
    }
    .title{
            border: 0 none;
            color: #666666;
            padding: .3em 0;
            margin-bottom: .3em;
            font-size: 3.5em;
            text-align: center;
    }
    .sep{
        border-bottom: 2px dotted #ccc;
        position: relative;
        margin: 6em auto 5em;
        height: 1px;
        width: 90%;
        &:after {
            content: "ou";
            background-color: #F7F2DF;
            color: #666;
            border-radius: 5em;
            font-size: 2.5em;
            text-align: center;
            margin-right: 50%;
            position: absolute;
            bottom: -1.5em;
            right: -1.5em;
            padding: .3em;
            border: .5em solid #FFFBEA;
            text-transform: uppercase;
        }
    }
    p{
        font-size: 2.2em;
        margin-bottom: 1em;
        color: #666
    }
    .btn-recuperar-senha{
        font-size: 1.3em;
        padding: 1em;
        font-weight: 400;
        text-decoration: underline;
    }
}
.sepline{
    text-align: center;
    display: block;
    width: 100%;
    margin-top: -2em;
    position: relative;
    border-top: 2px solid #F2CAA7;
    &:after {
        content: "";
        width: 43px;
        height: 40px;
        background: url('../images/sprite.png') scroll no-repeat -4px -161px transparent;
        position: absolute;
        left: 50%;
        margin-left: -22px;
        top: -22px;
    }
}
.how-it-works{
    background-color: #EADDAC;
    thead{
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1.2em;
        color: #664A19;
        background-color: #EADDAC;
    }
    .plan{
        text-align:center;
    }
    th,td{
        border: 0;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        border-right: 10px solid #EADDAC;
        border-bottom: 10px solid #EADDAC;
        text-align: center;
        &:first-child {
            border-right: 30px solid #EADDAC;
            border-left: 10px solid #EADDAC;
            text-align: left;
            span{
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .plan-info{
        background-color: #FBF6E2;
        height: 73px;
        font-size: 1.5em;
        color: #333333;
        padding: .1em .5em .5em 1.5em;
        &.cover{
            text-align: center;
            padding: .1em;
        }
    }
    th{
        vertical-align: middle;
        text-align: center;
        height: 90px;
        padding: 0 1em;
        &:first-child{
            text-align: left;
        }
    }
    .no,.yes{
        background-color: #238C00;
        color: #FFF;
        font-weight: bold;
        border-radius: 2em;
        display: inline-block;
        padding: 1.05em 0.8em;
        margin-top: .5em;
    }
    .no{
        background-color: #D90000;
    }
    .pure-button{
        font-size: 1.3em;
        width: 137px;
        display: block;
        padding: .6em 2em;
        font-weight: bold;
        white-space: normal;
        line-height: 1.2em;
        margin: 0 auto;
    }
    .obs{
        font-size: 1.4em;
        color: #333;
        display: block;
        padding: .2em 0;
        font-weight: 400;
    }
    tfoot{
        td{
            padding-top: 1em;
            vertical-align: top;
        }
    }
}

.questions{
    margin-top: 5em;
    
    .sub-title{
        border-bottom: 1px solid #ccc;
        text-align: center;
        font-size: 1.9em;
        color: #664A19;
        strong{
            position: relative;
            bottom: -.5em;
            background-color: #FFFBEA;
            padding: 0 1.5em;
        }
    }
    .question-list{
        .question-box{
            margin: 7em 2em 0;
        }
        .question{
            font-size: 1.9em;
            color: #664A19
        }
        .answer{
            font-size: 1.4em;
            color: #333333;
            margin-top: 1.42em;
        }
    }

}
    .contact-us{
        margin-top: 7em;
        text-align: center;
        font-weight: 400;
        .title{
            font-size: 1.9em;
            width: 100%;
            display: block;
            text-align: center;
            color: #664A19;
        }
        .pure-button{
            font-size: 1.4em;
        }
    }


.result-list-box{
    margin-top: 5em;
    float: left;
    max-width: 80%;

    .result-list{
         margin: 0 0 2em;
        .result-item{
            overflow: hidden;
            border: 3px solid #F7F2DF;
            padding: 1.5em;
            margin: .5em 0;
            &.sponsor{
                border-color: #8FC7C1;
            }  
            .box-content{}
            .result-title{
                font-size: 2.5em;
                color: #444444;
                font-weight: 400;
                padding-top: .5em;
            }
            .result-text{
                padding-top: 1.66em;
                font-size: 1.2em;
                color: #000000;
            }
        }
    }
    .gallery-box, li img{
        float: left;
        text-align: center;
        margin-right: 5%;
        .main-image{
            display: block;
            
            
        }
        .image{
            margin: 1.2em .2em 0;
            display: inline-block;
        }
    }    
    .extra-info{
        border-top: 1px solid #CCC;
        padding-top: 2em;
        margin-top: 2em;
        float: left;
        width: 65%;
        .category-icon {
            color: #8FC7C1;
            vertical-align: bottom;
            .fa{
                font-size: 4em;
            }
            .label{
                font-size: 1.3em;
                font-weight: 400
            }
        }
        li{
            display: inline-block;
            text-align: center;
            margin-left: 2%;
            width: 10.09em;
            &:first-child{
                margin-left: 0;
                max-width: 7em;
            }
            
            .text{
                font-size: 1.1em;
                display: block;
                height: 2.7em;
                line-height: 1.3;
                width: 95%;
                margin: 0 auto .3em;
                font-weight: 400;
            }
            .result{
                text-align: center;
                background-color: #8FC7C1;
                color: #FFF;
                font-size: 3em;
                font-weight: 400;
                display: block;
            }
        }
    }

}


.filter-search{
    margi-top: 5em;
    .input-group {
        display: inline-block;

        label{
            color: #721246;
            font-weight: 400;
            font-size: 1.4em;
        }
        select {
            width: 14.2em;
            padding: .9em .6em;
        }
    }
}
.ads-box{
    width: 21.5em;
    text-align: center;
    float: right;
    margin-top: 5em;
    
    .ads-list{
        padding-top: .5em;
        li{
            margin-top: 1.5em;
            &:first-child{
                margin-top: 0;
            }
        }
    }
}
.secondary-nav{
    background-color: #DB5E63;
    border-bottom: 1.2em solid #D54047;
}
.tab-list{
    @include pie-clearfix();
    &.justified{
        display:table;
        width:100%;
        table-layout:fixed;
        border-collapse:separate;
            .tab-item{
                float: none;
                display: table-cell;    
                
            }
    }
    .tab-item{
        float: left;
        border-right: 1px solid #FFF;
        &.last-child{
            border-right: 0 none;
        }
        &.active{
            background-color: #D54047;
        }
        &:last-child{
            border-right: 0;
        }
        a{
            color: #FFFBEA;
            display: block;
            font-size: 1.8em;
            padding: 1.68em 4%;
            text-transform: uppercase;
            font-weight: 400;
            border-right: 1px solid #FFF;
            text-align: center;
            &:first-child{
                border-right: 0;
            }
        }
        &.rate-button{
            border-left: 1px solid #FFF;
            a{
                text-transform: none;
            }
        }
    }
}

.supplier-profile{
    .main-image{
        display: inline-block;
        margin: 1.5em 0 5.5em;
        img{
            display: block;
        }
        figcaption{
            background-color:#52514B;
            display: block;
            padding: 1em 1.5em;
            font-size: 1.2em;
            color: #FFF;
        }
    } 

}

.secondary-content{    
    .score-list{
        background-color:#FFF;
        text-align: center;
        margin-bottom: 5em;
        li{
            &:first-child{
                .box-content{
                    border-left: 0;
                }
            }
            .box-content{
                padding: 1em 1.3em;
                border-left: 1px dashed #ccc;
            }
        }
        .text {
            font-size: 1.2em;
            color: #721246;
            display: block;
            height: 2.7em;
            line-height: 1.3;
            margin: 0 auto .3em;
            font-weight: 400;
        }
        .result {
            text-align: center;
            color: #6AB4AD;
            font-size: 5em;
            font-weight: 300;
            display: block;
        }
    }
    .vcard{
        @include rem-fallback(font-size, 1.4);
        @include rem-fallback(line-height, 2);
        .email{
            display: block;
            text-decoration: underline;
        }
        .map-link{
            text-align: right;
            a{
                text-decoration: underline
            }
        }
        .box-title{
            font-size: 1.28em;
            padding: .2em .5em;
            margin: 2em 0 .8em;
            border-bottom: 1px solid #F2CAA7;
            display: block;
        }

    .payment-method-list{
        font-size: .92em;
        line-height: 1.53;
        font-weight: 400;
        padding-bottom: 1em;
        color: #666;
        .img-card{
            margin: 1em .5em 0 0;
        }
    }
    }
    .vcard,.pure-button{
        margin-left: 8%;
        max-width: 22em
    }
}
.box-info-supplier{
    border-left: 1px solid #F0DFC2;
    padding-bottom: 10em;
    .pure-button{
        font-size: 1.6em;
        margin-top: 3em;
    }
}

.box-testimonials{
    color: #666;
    margin-top: 3.5em;
    .title{
        font-size: 1.8em;
        font-weight: 600;
    }
    .text{
        font-size: 1.4em;
        padding-top: 2.14em;
    }
}
.box-testimonials{
    .photo{
        width: 5.9em;
        margin: 0 2em 0 0;
        float: left;
    }
    .name{
        font-size: 1.6em;
        color: #D9185F;
        font-weight: 400;
        margin-top: .4em;

    }
    .date{
        color: #333333;
        font-size: 1.3em;
    }
    .message{
    
    }
    .testimonial-list{
        .testimonial-item{
            border-bottom: 1px dashed #E6E4DB;
            padding: 2em;
        }
    }
    .current-user{
        margin-top: 5em;
        background-color: #FAF2DB;
        padding: 2.5em 1.2em;
        @include border-radius(2px);
        textarea{
            margin-top: 1em;
            border: 2px solid #28B4A0;
            display: block;
            width: 100%;
            min-height: 3.28em;
            padding: 1em;
        }
        .name{
            color: #0000FF;
        }
        .submit-btn{
            float: right;
            font-size: 1.2em;
            margin-top: 1em;
        }
    }
}

.rate-btn-box{
    position:relative;

    .rate-box{
        display: none;
        position: absolute;
        top:0;
        right:0;
        background-color: #DB5E63;
        width: 196px;
    }
    a.rate-btn{
        display: block;
        float: left;
        border-left: 1px solid #FFF;
        background: url('../images/rate_sprite.png') scroll no-repeat 20px 10px transparent;
        width: 97px;
        height: 84px;
        @include hide-text(left);
        border-right: 0 none;
        &:hover{
            background-color: #F23C55;
            -webkit-transition: background-color 500ms ease-in-out;
            -moz-transition: background-color 500ms ease-in-out;
            -o-transition: background-color 500ms ease-in-out;
            -ms-transition: background-color 500ms ease-in-out;
            transition: background-color 500ms ease-in-out;
        }
        &:first-child{
            border: 0 none;
        }
        &.rate-approve{
        }
        &.rate-reprove{
            background-position: -82px 10px;
        }
    }
}


.painel{
    .title{
        font-size: 1.4em;
        color: #666;
        font-weight: 600;
        display: block;
        padding-bottom: 1.2em;
    }
    
    .number{
        font-size: 5.5em; 
        color: #44A592;
    }
    .txt{
        padding: 0;
    }
    .painel-content{
        padding: 2em 1.6em 1.6em 2em;
        height: 24.7em;
    }
    .new-messages{
        height: auto;
        .number{
            float: left;
            vertical-align: baseline;
            margin-left: 10%;
            margin-right: 10%;
        }
        .title{
            padding-bottom: 2em;
        }
        .txt{
        font-size: 3em;
        line-height: .8;
        margin-top: .3em;
            
        }
    }
    .partial-info{
        background-color: #F7F2DF;
        .row{
            padding: 0.8em 0;
        }
        .number{
            font-size: 3em;
            color: #666666;
            display: inline-block;
            width: 45%;
            text-align: right;
            margin-right: 5%;
            vertical-align: middle;
        }
    
        .label{
            display: inline-block;
            font-size: 1.1em;
            width: 6.8em;
            line-height: 1.1;
            vertical-align: middle;
        }
    }
    
    .deals{
        background-color: #EADDAA;
        .title{
            
        }
        .number{
            display: block;
            text-align: center;
            padding: .2em 0;
            font-size: 6.5em;
            color: #666666;
        }
        .txt{
            font-size: 1.3em;
        }
    }
}

.modal-welcome{
    max-width: 70em;
    margin: 0 10%;
    color: #444444;
    .title{
        font-size: 3em;
        color: #664A19;
        padding-bottom: 1.33em;
        
    }
    .text{
        font-size: 2em;
        padding: 0 0 1.5em;
    }

    .modal-welcome_close{
        font-size: 1.6em;
    }
}

.welcome-user-box{
    .w-message{
        font-size: 1.3em;
        color: #5FADA5;
        display: block;
        padding-bottom: .5em;
    }
    .user-name{
        color: #464637;
        font-size: 1.2em;
        padding-left: .5em;
        vertical-align: text-bottom;
    }

    
    .config-area{
        position: relative;
        display: inline-block;
    }
    .config-button{
        cursor: pointer;            
        color: #5FADA5;
            font-size: 2em;
        &:hover, &.active{
            color: #D54047;
        }
        &.active, &:hover{
            .fa{
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                @include transition(all 600ms ease-in-out)
                }
        }
    }
    .config-box{
        display: none;
        background-color: #FFF;
        position: absolute;
        top: 3em;
        left: -9px;
        width: 16em;
        z-index: 5;
        border: 1px solid #ccc;
        @include box-shadow(5px 5px 5px #666);
        @include border-radius(.2em);
        &:before {
            content: "";
            width: 14px;
            height: 9px;
            position: absolute;
            top: -9px;
            left: 11px;
            background: url("../images/sprite.png") scroll no-repeat -254px 0 transparent;
        }
        ul{
            
            padding: 1em 0;
            li{
                padding: 0 2em;
                &.active{
                    a{
                        border-bottom: 1px solid #ccc;
                        padding-bottom: .2em
                    }
                }
                &:hover{
                    background-color: #AFD7D3;
                    -webkit-transition: background-color 200ms ease-in;
                    -moz-transition: background-color 200ms ease-in;
                    -o-transition: background-color 200ms ease-in;
                    -ms-transition: background-color 200ms ease-in;
                    transition: background-color 200ms ease-in;
                }
                a{
                    display: block;
                    padding: 0.45em 0;
                    font-size: 1.6em;
                    color: #444;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.modal-request-budget{
    .budget-info{
        border-bottom: 1px solid #ccc;
        padding-bottom: 10%;
        margin-bottom: 1em;
    }
    textarea{
        margin: 0 0 2em;
    }
    .icn{
        color: #FFF;
        text-align: center;
        border: 0.36em solid #44A694;
        font-size: 3em;
        background: #44A694;
        border-radius: 3em;
    }
    .input-group{
    display: inline-block;
    width: 70%;
    padding: .5em 2.5em 0 .5em;
    }
    label{
        color: #000;
        font-size: 1.4em;
    }


    .captcha-box{
        float: left;
        max-width: 27.5em;
        margin-right: 10%;
        .label{
            display: block;
            font-size: 1.2em;
            color: #721246;
            padding: 0 1em 0.5em;
        }
    }
    .group-button{
        margin-top: 23%;
        .pure-button{
            margin: 0 1em;
        }
        .text{
            padding: 0 1em 0 0;
        }
        .link-1{
            font-size: 1.4em;
        }
    }
}
.nav-tab-content{

    .profile-form{
        .telephone-number{
            display: inline-block;
            margin-right: 1em;
        }
        .add-telephone{
            color: #fff;
            font-size: 1.5em;
            background-color: #F23C55;
            border: 8px solid #F23C55;
            border-radius: .2em;
            cursor:pointer;
        }
        .payment-methods{
            background-color: #FFF;
            padding: 3em 2em;
            margin-top: 1em;
            label{
                display: inline-block;
                padding: 0 1em;
            }
            .label{
                font-size: .857em;
                text-transform: none;
            }
            input{
                vertical-align: middle;
                margin-right: .5em;
            }
            img{
                vertical-align: middle;
                
            }
        }
    }
    .file-upload{
        margin: 5em 0;
        .input-group{
            label{
                display: inline-block;
                margin-right: 3em;
            }
            input{
                display: inline-block;
            }
            
        }
        .file-upload-box{
            input{
                display: inline-block;
                width: 71%;
                margin-right: 1em;
            }
            button{
                padding: .625em;
            }
        }
    }
}


.nav-tab-content{
    display: none;
    &.active{
        display: block;
    }
}
.nav-tab{
    display: block;
    width: 100%;
    border-bottom: 1px solid #5FAFA7;
    margin: 6.5em 0 5.5em;
    
    li{
        color: #5FAFA7;
        display: inline-block;
        @include border-radius(.7em .7em 0 0);
        padding: 1.5em 2em;
        font-size: 1.4em;
        color: #5FAFA7;
        cursor: pointer;
        font-weight: 600;
        &.active, &.active, &:hover{
            background-color: #5FAFA7;
            color: #FFFBEA;
                    -webkit-transition: all 200ms linear;
                    -moz-transition: all 200ms linear;
                    -o-transition: all 200ms linear;
                    -ms-transition: all 200ms linear;
                    transition: all 200ms linear;
        }
    }
}

.config-account-form{
    fieldset{
        max-width: 45em;
        margin-bottom: 3em;
    }
    
    .label,label, .label-value,a{
        display: block;
        color: #333333;
        font-size: 1.4em;
        padding: .5em 0
    }
    .label-value{
        padding: 0;
    }
    a{
        padding: 1em 0;
        text-decoration: underline;
    }
}



.modal-closing-account{
    legend{
        font-size: 1.4em;
        color: #5A5952;
        margin-bottom: 2em;
    }
   
    fieldset{
        margin-bottom: 4em;
    }
    label{
        text-transform: none;
        font-weight: 400;
        span{
            width: 145px;
            display: inline-block;
            vertical-align: middle;
        }
        input{
            margin-right: 10px;
            vertical-align: baseline;
        }
    }
    .confirmation label{
        font-size : 3em;
        font-weight: 400;
    }
    textarea{
        margin-bottom: 3em;
    }
    .text{
        font-size: 1.4em;
        padding-bottom: 1em;
    }
    
    .box-success-closing-accout{
        display: none;
        .close-modal{
            margin-top: 3em;
        }
    }
}


.ver-lista-fornecedores{
    border-bottom: 1px solid #CCC;
    select{
     width: 31.2em;
    }
    button{
    
    }
}



.box-content{
    color: #666;
    margin-bottom: 1em;
    .subtitle{
        font-size: 2em;
        display: block;
    }
    .title{
        font-size: 3em;
        line-height: 1em;
        max-width: 11.16em;
        display: block;
    }
    .title2{
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 1.1em;
        padding: 1em 0 0 1em;
        display: block;
    }
    p{
        font-size: 1.4em;
        display: block;
    }
}
.pedir-orcamento, .ver-lista-fornecedores{
        max-width: 51.6em;
        margin: 0 auto;
        padding: 1em; 
}

.ver-lista-fornecedores{
    padding: 2.9em 1em 8em;
    margin-bottom:4.5em;
    .select-category{
        max-width: 312px;
    }
    .title{
        margin: 0.4em 0 1.5em;
    }

}
.pedir-orcamento{
    p{
        margin: 1.5em 0 2em;
    }

}
.box-messages{
    background-color: #F3E6CF;
    padding: 2em 5.5em 5.5em;
    .text{
        font-size: 3em;
        font-weight: bold;
        margin-left: .5em;
        max-width: 175px;
        display: inline-block;
        line-height: .85em;
    }
    .number{
        font-size: 5.5em;
        color: #44A592;
        width: 140px;
        height: 114px;
        background: url("../images/sprite.png") scroll no-repeat -300px 1px transparent;
        display: inline-block;
        text-align: center;
        line-height: 2.1em;
    }
}



.box-dados-casamento{
    background-color: #F7F2DF;
    height: 236px;
    ul{
        li{
            .input-group{
                text-align: center;
                padding: 1em 3em;
                border-left: 1px solid #ccc;
                height: 166px;
            }
            .icn{
                display: inline-block;
                background-color: #5AAF9D;
                color: #FFF;
                font-size: 2em;
                border-radius: 6em;
                width: 39px;
                height: 39px;
                padding-top: .3em;
            }
            label{
                display: block;
                font-size: 1.4em;
                font-weight: 400;
                margin: .8em 0;
            }
            input{
                text-align: center;
                font-weight: bold;
                background-color: #F7F2DF;
                border: 0 none;
                padding: .5em;
                font-size: 1.4em;
            }
            &:first-child{
                 .input-group{
                    border-left: 0;
                 }
            }
        }
        .time-left{
            border-top: 1px solid #ccc;
            padding-top: .2em;
            font-size: 1.8em;
            margin-top: .3em;
        }
    }
    .icn{
        display: block;
    }
}

.resumo-parcial{
    background-color: #F7F2DF;
    .box-resumo-parcial{
    }
    .content{
        display: inline-block;
        vertical-align: middle;
        border-right: 1px solid #CCC;
        margin: .5em 0;
        padding: .5em 2em .5em 2em;
        width: 196px;
        text-align: right;
        .number{
            font-weight: 600;
            font-size: 3em;
            color: #666666;
            display: inline-block;
            vertical-align: middle;
        }
        .text{
            max-width: 70px;
            font-size: 1.1em;
            line-height:  1.1;
            padding-left: 1em;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
    }
    .no-brdr{
        border: 0 none;
        text-align: left;
    }
}

.negocios-fechados{
    background-color: #EADDAA;
    height: 180px;
    text-align: center;
    padding: 1.8em;
    .number{
        display: block;
        font-size: 6.5em;
        line-height: 1.2;
        font-weight: 600;
    }
}