@media only screen and (max-width : 600px) {
    .top-tab{
        .icon {
            margin-right: 0;
        }
    }

    .logo{
        
    }

}

@media only screen 
and (min-width : 320px) 
and (max-width : 479px) {
    .destaque-home{
        font-size: 50%;
    }
    .pure-hide-phone{
        display: none !important;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 480px) 
and (max-width : 600px) {
    .destaque-home{
        font-size:40%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 601px) and (max-width: 1023px) {
    .destaque-home{
        font-size: 60%;
    }
    .tab-title{
        font-size: 3em;
    }
    .main-nav {
        padding-left: 13em;
        .submenu-item .submenu {
            left: -12.8em;
            font-size: 96%;
            width: 720px;
        }
        li{
            display: block;
            a{
                padding: 2em 1.25em;
            }
        }
    }
    .logo{
        float: none;
        margin-left: 2em;
    }
    .user-area {
        position: absolute;
        top: 4em;
        right: 4em;
        margin: 0;
       
    }
    .tab-fornecedores-em-destaque{
        p{
            font-size: 1.4em;
        }
        .title{
            font-size: 2.5em;
        }
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 1024px) {
    .destaque-home{
        font-size: 80%;
    }
    .tab-content{
        .tab-title{
            font-size: 3em;
        }
    }
}


/* Landscape phones and portrait tablets */
@media (max-width: 753px) {
    .tab-fornecedores-em-destaque{
        li{
            text-align: center;
            img{
                margin: 3em auto 0;
                width: auto;
                height: auto;
                float: none;
            }
            p{
                text-align: center;
                padding-bottom: 2em;
            }
            .title{
                font-size: 3.5em
            }
        }
    }
    

}
/* Landscape phones and smaller */
@media (min-width: 321px) and (max-width: 480px) {

}



/* Smartphones (portrait and landscape) ----------- */
@media only screen  
and (max-width : 478px) {
/* Styles */
    .user-area{
        margin-top: 2em;
        width: 6.5em;
        font-size: 80%;
        text-align: center;
        .login-button{
            padding: 0.5625em;
        }
         .box-login{
            width: 285px;
            right: 10%;
            text-align: left;
            padding: 2em 2.8em;
             
        }
    }
    .destaque-home{
        font-size: 26%;
    }
    .tab-content{
        font-size: 70%;
    }
    .tab-content{
        .tab-title{
            font-size: 3em
        }
        p{
            padding-right: 0;
            padding-left: 0;
            font-size: 2em;
        }
    }
    .top-bar {
        .top-tab{
            padding: 0.46em .8em;
            
           
            
        }
        #current-location{
            font-size: 80%;
            line-height: 2.5;
        }
        .container{
            padding-right: 0
        }
    }
    

}




@media only screen and (max-width: 768px){
    .main-content .container{
        padding: 5em 2em;
        margin: 0 auto;
        width: 100%
    }
    .new-user-box{
        font-size: 80%;
        .new-user-content{
            padding: 0 0 5em;
        }
        .new-user-content.bg {
            border-right: 0;
            position: relative;
            border-bottom: 1px solid #CCC;
            margin-bottom: 3em;
            
        }
        .new-user-content.bg:after {
            text-align: center;
            bottom: -1.55em;
            margin-top: -2em;
            right: 50%;
            top: auto;
            margin-right: -1.5em;
        }
    }
.result-list-box {
    .extra-info{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 80%;
        }
    }
.header-content .content-title{
    font-size: 2em;
}
    footer{
        text-align: center;
        .content-box{
            padding: 5%;
        }
        label{
            text-align: left;
        }
    }
}

@media only screen and (max-width: 325px){
    .new-user-box {
        .btn-login-facebook, .btn-login-googleplus {
            width: 264px;
            height: 57px;
            background: url("../images/sprite_social_media.png") scroll no-repeat -30px -40px transparent;
            border-radius: 10px;
            margin: 4em 0 0
        }

        .btn-login-googleplus {
          background-position: -27px -103px;
        }
    }
}


   @media only screen and (min-width: 768px) and (max-width: 959px){
    
     }
     @media only screen and (max-width: 767px){

     }
     @media only screen and (min-width: 480px) and (max-width: 767px){

     }
     @media only screen and (min-width: 1023px){
        .nav-menu-button {
            display: none!important;
            }
     }


.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after {
   content: " ";
   display: table;
}

.clearfix:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after {
   clear: both;
}

.center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.pull-right {
   float: right!important;
}

.pull-left {
   float: left!important;
}

.hide {
   display: none!important;
}

.show {
   display: block!important;
}

.invisible {
   visibility: hidden;
}

.text-hide {
   font: 0/0 a;
   color: transparent;
   text-shadow: none;
   background-color: transparent;
   border: 0;
}

.hidden {
   display: none!important;
   visibility: hidden!important;
}

.affix {
   position: fixed;
}

@-ms-viewport {
   width:device-width;
}

.visible-xs,.visible-sm,.visible-md,.visible-lg {
   display: none!important;
}

@media (max-width:768px) {
   .visible-xs {
       display: block!important;
   }

   table.visible-xs {
       display: table;
   }

   tr.visible-xs {
       display: table-row!important;
   }

   th.visible-xs,td.visible-xs {
       display: table-cell!important;
   }
}

@media (min-width:768px) and (max-width:991px) {
   .visible-sm {
       display: block!important;
   }

   table.visible-sm {
       display: table;
   }

   tr.visible-sm {
       display: table-row!important;
   }

   th.visible-sm,td.visible-sm {
       display: table-cell!important;
   }
}

@media (min-width:992px) and (max-width:1199px) {
   .visible-md {
       display: block!important;
   }

   table.visible-md {
       display: table;
   }

   tr.visible-md {
       display: table-row!important;
   }

   th.visible-md,td.visible-md {
       display: table-cell!important;
   }
}

@media (min-width:1200px) {
   .visible-lg {
       display: block!important;
   }

   table.visible-lg {
       display: table;
   }

   tr.visible-lg {
       display: table-row!important;
   }

   th.visible-lg,td.visible-lg {
       display: table-cell!important;
   }
}

@media (max-width:767px) {
   .hidden-xs {
       display: none!important;
   }
}

@media (min-width:768px) and (max-width:991px) {
   .hidden-sm {
       display: none!important;
   }
}

@media (min-width:992px) and (max-width:1199px) {
   .hidden-md {
       display: none!important;
   }
}

@media (min-width:1200px) {
   .hidden-lg {
       display: none!important;
   }
}

.visible-print {
   display: none!important;
}

@media print {
   .visible-print {
       display: block!important;
   }

   table.visible-print {
       display: table;
   }

   tr.visible-print {
       display: table-row!important;
   }

   th.visible-print,td.visible-print {
       display: table-cell!important;
   }
}

@media print {
   .hidden-print {
       display: none!important;
   }
}